@model AppWebServer.Models.StoreType

@{
    ViewBag.Title = "新增";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>新增</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>商店類型管理</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"><p>商店類型名稱</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.stName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>圖片url</p></div>
            <div class="col-md-10">
                @Html.Action("FormatPotos", new { })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-info" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("回到列表", "Index")
    </div>
