@model IEnumerable<AppWebServer.Models.store>

@{
    ViewBag.Title = "商店管理";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>商店管理</h2>

<p>
    @if (User.IsInRole("admin") || User.IsInRole("manage"))
    {
        @Html.ActionLink("商店類型管理","Index", "StoreTypes", null, new { @class = "btn btn-info" }) <span>|</span>
}
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            商店名稱
        </th>
        <th>
            電話號碼
        </th>
        <th>
            地址
        </th>
        <th>
            網站
        </th>
        <th>
            社群網站
        </th>
        <th>
            商店類型
        </th>
        @if (User.IsInRole("store"))
        {
            <th>狀態</th>
        }
        @if (User.IsInRole("admin") || User.IsInRole("manage"))
        {
            <th>
                是否啟用
            </th>
            <th>
                擁有者名稱
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @if (item.potos != null && item.potos.Length > 0)
            {
                <img src='@item.potos.Split(',')[0]' alt="img" style="width:100px;height:100px" />
            }
        </td>
        <td>
            @Html.ActionLink(item.storeName, "Edit", new { id = item.storeId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotrePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotreAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotreWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotreWeb2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreType.stName)
        </td>
        @if (User.IsInRole("store"))
        {
            <td>@(Html.Raw(item.isEnable == null ? "審核中" : (item.isEnable.Value ? "已通過" : "未通過，請聯絡本所人員確認原因")))</td>
        }
        @if (User.IsInRole("admin") || User.IsInRole("manage"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.isEnable)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.userName)
            </td>
        }
            <td>
                @using (Html.BeginForm("Delete", "stores"))
                {
                    @Html.AntiForgeryToken();
                    <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                    <input type="hidden" name="Id" value="@(item.storeId)" />
                }
            </td>
    </tr>
    }

</table>
