@model AppWebServer.Models.SignForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SignForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isEanble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEanble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventPage.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventPage.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
