@model IEnumerable<AppWebServer.Models.SignForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>報名表單管理</h2>
<h4>@ViewBag.parentName</h4>
<p>
    @Html.ActionLink("新增", "Create", new { eId = Request["eId"] }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            完成QR code
        </th>
        <th>
            報名人數上限
        </th>
        <th>
            開始日期
        </th>
        <th>
            截止日期
        </th>
        <th>
            是否啟用
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="https://chart.googleapis.com/chart?chs=180x180&cht=qr&chl=sign,@(item.sId)&chld=L|4" alt="img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userLimit)
                @Html.Action("getSignNum", new { item.sId })
            </td>
            <td>
                @if (item.dateStart != null)
                {
                    @item.dateStart.Value.ToString("yyyy/MM/dd")
                }
            </td>
            <td>
                @if (item.dateEnd != null)
                {
                    @item.dateEnd.Value.ToString("yyyy/MM/dd")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEnable)
            </td>
            <td colspan="2">

                @using (Html.BeginForm("Delete", "SignForms"))
                {
                    @Html.AntiForgeryToken();
                    @Html.ActionLink("報名清單", "../SignRecords/Index", new { id = item.sId,eId=item.eId }, new { @class = "btn btn-info" }) <span>|</span>
                    @Html.ActionLink("編輯", "Edit", new { id = item.sId }, new { @class = "btn btn-info" }) <span>|</span>
                    <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                    <input type="hidden" name="Id" value="@(item.sId)" />
                    @Html.HiddenFor(modelItem => item.EventPage.eid)
                }
            </td>
        </tr>
    }

</table>
