@model AppWebServer.Models.UserSlv

@{
    ViewBag.Title = "使用者銀幣管理";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>編輯</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>使用者銀幣管理</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.eId)

        @Html.HiddenFor(model => model.userId)

        <div class="form-group">
            <div class="control-label col-md-2"><p>活動名稱</p></div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>目前持有數量</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.currNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.currNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>累計持有數量</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.accNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>有效期限起</p></div>
            <div class="col-md-10">
                <div class='input-group datepicker date'>
                    <input type="datetime" value="@(Model.dateStart==null?DateTime.Now.ToString("yyyy/MM/dd"):Model.dateStart.Value.ToString("yyyy/MM/dd"))" name="dateStart" id="dateStart" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.dateStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>有效期限迄</p></div>
            <div class="col-md-10">
                <div class='input-group datepicker date'>
                    <input type="datetime" value="@(Model.dateEnd==null?DateTime.Now.ToString("yyyy/MM/dd"):Model.dateEnd.Value.ToString("yyyy/MM/dd"))" name="dateEnd" id="dateEnd" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.dateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到列表", "Index",new { Id=Request["userid"] })
</div>
