@model IEnumerable<AppWebServer.Models.UserSlv>

@{
    ViewBag.Title = "使用者銀幣管理";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>使用者銀幣管理</h2>
<h4>@ViewBag.userName</h4>

<table class="table">
    <tr>
        <th>
            活動名稱
        </th>
        <th>
            目前持有銀幣
        </th>
        <th>
            累計持有銀幣
        </th>
        <th>
            銀幣有效期限起
        </th>
        <th>
            銀幣有效期限迄
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accNum)
        </td>
        <td>
            @if (item.dateStart!=null)
            {
                @item.dateStart.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @if (item.dateEnd != null)
            {
                @item.dateEnd.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new {  userId=item.userId,eId=item.eId  }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
