@model AppWebServer.Models.UserGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.powerlevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.powerlevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
