@model IEnumerable<AppWebServer.Models.UserGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.powerlevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.powerlevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gId }) |
            @Html.ActionLink("Details", "Details", new { id=item.gId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gId })
        </td>
    </tr>
}

</table>
