@model AppWebServer.Models.EventPage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>新增</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div data-editor="ClassicEditor" data-collaboration="false">
    <div class="form-horizontal">
        <h4>活動管理</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"><p>活動圖片url</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>活動名稱</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>活動內容</p></div>
            <div class="col-md-10">
                @Html.TextArea("html", new { id = "html", @name = "html", @class = "editor" })
                @Html.ValidationMessageFor(model => model.html, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><p>活動日期起</p></div>
            <div class="col-md-10">
                <div class='input-group datepicker date'>
                    <input type="datetime" value="@(DateTime.Today.ToString("yyyy/MM/dd"))" name="dateStart" id="dateStart" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2"><p>活動日期迄</p></div>
            <div class="col-md-10">
                <div class='input-group datepicker date'>
                    <input type="datetime" value="@(DateTime.Today.ToString("yyyy/MM/dd"))" name="dateEnd" id="dateEnd" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2"><p>可取得最大銀幣數量</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.slvLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.slvLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><p>金幣轉換數量(多少銀幣後可額外取得金幣)</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.toGoldNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.toGoldNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><p>活動類型(info)或不填則不顯示報名按鈕</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.evenType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.evenType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-info" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("回到列表", "Index")
</div>
