@model IEnumerable<AppWebServer.Models.EventPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>活動管理</h2>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
          
        </th>
        <th>
            名稱
        </th>
        <th>
            活動開始日期
        </th>
        <th>
            活動截止日期
        </th>
        <th>
            可獲得銀幣上限
        </th>
        <th>
            金幣比率
        </th>
        <th>
            編輯時間
        </th>
        <th>
            活動類型
        </th>
        <th>
            <span></span>
        </th>
        <th>
            <span></span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src='@Html.DisplayFor(modelItem => item.url)' alt='img' style="width:100px;height:100px" />
        </td>
        <td>
            @Html.ActionLink(item.name, "Edit", new { id = item.eid })
        </td>
        <td>
            @if (item.dateStart != null)
            {
                @item.dateStart.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @if (item.dateEnd != null)
            {
                @item.dateEnd.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slvLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toGoldNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evenType)
        </td>
        <td>
            @Html.ActionLink("銀幣管理", "Index", "Slvs", new { eId = item.eid }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink("報名管理", "Index", "SignForms", new { eid = item.eid }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink("票選管理", "Index", "Votes", new { eid = item.eid }, new { @class = "btn btn-info" })
        </td>
        <td>
            @using (Html.BeginForm("Delete", "EventPages"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                <input type="hidden" name="id" value="@(item.eid)" />
            }
        </td>
    </tr>
}

</table>
