@model IEnumerable<AppWebServer.Models.Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>廣告管理</h2>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            廣告日期起
        </th>
        <th>
            廣告日期迄
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.url != null && item.url.Length > 0)
            {
                <img src='@item.url' alt="img" style="width:100px;height:100px" />
            }
        </td>
        <td>
            @if (item.dateStart != null)
            {
                @item.dateStart.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @if (item.dateEnd != null)
            {
                @item.dateEnd.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Banners"))
            {
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) <span>|</span>
                @Html.AntiForgeryToken();
                <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                <input type="hidden" name="id" value="@(item.Id)" />
            }
        </td>
    </tr>
}

</table>
