@model IEnumerable<AppWebServer.Models.User>

@{
    ViewBag.Title = "使用者管理";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>使用者管理</h2>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-danger" })<span>由此新增帳號將無法綁定裝置</span>
</p>
<table class="table">
    <tr>
        <th>
            使用者名稱
        </th>
        <th>
            使用者電話
        </th>
        <th>
            使用者驗證資料(未使用)
        </th>
        <th>
            使用者群組名稱
        </th>
        <th>
            是否啟用
        </th>
        <th>
            停權期限
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oAuth)
        </td>
        <td>
            @Html.Action("getGroupName", new {id=item.powerGroup})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEanble, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @if (item.prohibit != null && item.prohibit.ToString().Length > 0) {
            <p>@(item.prohibit.Value.ToString("yyyy/MM/dd"))</p>
            }
        </td>
        <td>@Html.ActionLink("銀幣狀態", "../UserSlvs/Index", new { id = item.userId }, new { @class = "btn btn-info" })</td>
        <td>
            @if (User.IsInRole("admin"))
            {

                using (Html.BeginForm("Delete", "Users"))
                {
                    @Html.AntiForgeryToken();
                    @Html.ActionLink("編輯", "Edit", new { id = item.userId }, new { @class = "btn btn-info" }) <span>|</span>
                    <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                    <input type="hidden" name="Id" value="@(item.userId)" />
                }
            }
        </td>
    </tr>
    }

</table>
