@model AppWebServer.Models.SignRecords

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>編輯</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SignRecords</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sId)
        @Html.HiddenFor(model => model.userId)

        <div class="form-group">
            <div class="control-label col-md-2"><p>使用者名稱</p></div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.LabelFor(model => model.User.userName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><p>使用者電話</p></div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.LabelFor(model => model.User.phone)
                </div>
            </div>
        </div>
        @Html.Action("FormatFeildInput", new { valueJson = Model.signData, sId = Model.sId })



        <div class="form-group">
            <div class="control-label col-md-2"><p>是否完成</p></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.completeDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.completeDatetime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><p>完成日期</p></div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isComplete, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isComplete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到列表", "Index",new {Id=Model.sId})
</div>
