@model AppWebServer.Models.Slvs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slvs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.html)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.html)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.potos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.potos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qrcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qrcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slvNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slvNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.maxUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxUse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPage.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventPage.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.slvId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
