@model IEnumerable<AppWebServer.Models.Slvs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}

<h2>銀幣管理</h2>
<h4>@ViewBag.parentName</h4>
<p>
    @Html.ActionLink("新增", "Create",new {eId=Request["eId"] }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.potos)
        </th>
        <th>
            名稱
        </th>
        <th>
            銀幣數量
        </th>
        <th>
            可重複使用次數
        </th>
        <th>
            剩餘次數
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qrcode)
        </th>
        <th>
            是否需要導覽
        </th>
        <th>
            是否啟用
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.potos != null && item.potos.Length > 0)
            {
                <img src='@item.potos.Split(',')[0]' alt="img" style="width:100px;height:100px" />
            }
        </td>
        <td>
            @Html.ActionLink(item.sname, "Edit", new { id = item.slvId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slvNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxUse)
        </td>
        <td>
            @Html.Action("GetSlvsRem", new { item.slvId, item.totalmaxUse })
        </td>
        <td>
            <img src="https://chart.googleapis.com/chart?chs=180x180&cht=qr&chl=slvs,@(item.slvId)&chld=L|4" alt="img" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isGuid, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEnable, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Slvs"))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="刪除" class="btn btn-info" style="width:54px" onclick="javascript:return confirm('是否刪除？')" ) />
                <input type="hidden" name="Id" value="@(item.slvId)" />
            }
        </td>
    </tr>
}

</table>
